{% extends "base_user.html" %}
{% block content %}
    <div class="wrap">
        <div class="header-center">Lägg till fråga</div>
        <form action="/add-question" method="POST">
            <div class="category-select">
                <label for="category">Kategori:</label>
                <select name="category" id="category">
                    <option value="Animals">Animals</option>
                    <option value="Entertainment">Entertainment</option>
                    <option value="General Knowledge">General Knowledge</option>
                    <option value="Geography">Geography</option>
                    <option value="History">History</option>
                    <option value="Science">Science</option>
                    <option value="Sports">Sports</option>
                    <option value="Vehicles">Vehicles</option>
                </select> <br />
            </div>

            <input type="text" name="question" placeholder="Fråga" /> <br />
            <input type="text" name="right_answer" placeholder="Rätt svar" /> <br />
            <input type="text" name="wrong_answer1" placeholder="Fel svar 1" /> <br />
            <input type="text" name="wrong_answer2" placeholder="Fel svar 2" /> <br />
            <input type="text" name="wrong_answer3" placeholder="Fel svar 3" /> <br />
            <input type="submit" value="Lägg till" id="submit" /> <br />
        </form>
</div>
{%  endblock %}