<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="container">
        <section class="jumbo">
            <div class="header">Quiz</div>
        </section>

        <div class="menu">
            <div class="navbar">
                <div class="button">
                    <div class="menutext">Logga in</div>
                </div>
                <div class="button">
                    <div class="menutext">Lägg till fråga</div>
                </div>
                <div class="button">
                    <div class="menutext">Highscore</div>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>
