<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Frijole&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">


</head>
<body>
    <section>
        <div class="web-header"><a href="{{ url_for('index') }}">Quiz</a></div>
        <div class="menu">
            <div class="button"><a href="{{ url_for('logged_in') }}">Logga in</a></div>
            <div class="button" onclick="alert('Du måste logga in för att visa den här sidan')"><a href="{{ url_for('index') }}">Lägg till fråga</a></div>
            <div class="button"><a href="{{ url_for('index') }}">Highscore</a></div>
        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </section>

    <div class="page-footer">
        <div class="footer-text">© 2020 Quiz AB</div>
    </div>
</body>
</html>
