{% extends "base_user.html" %}
{% block content %}
    <div class="game">
        <div class="questionbox">
            <div class="question">{{ question }}</div>
        </div>
        <div class="answers">
            <div class="r1">
                <div id="answer1" class="answer" onclick="reply(this.id)">{{ a1['answer'] }}</div>
                <div id="answer2" class="answer" onclick="reply(this.id)">{{ a2['answer'] }}</div>
            </div>
            <div class="r2">
                <div id="answer3" class="answer" onclick="reply(this.id)">{{ a3['answer'] }}</div>
                <div id="answer4" class="answer" onclick="reply(this.id)">{{ a4['answer'] }}</div>
            </div>
        </div>
        <div class="linken">
            {% if not end %}
                <a href="{{ url_for('game') }}"><button id="next-question" disabled>Nästa fråga</button></a>
            {% else %}
                <button id="next-question" onclick="show_res()" disabled>Resultat</button>

            {% endif %}
        </div>
    </div>
{% endblock %}

{% block shadow %}
     <div class="pop_bg" id="pop_bg">
         <div class="box" id="pop_box">
             <div class="btn-x">
                 <div class="x">
                     <a href="{{ url_for("index") }}"><span>&times;</span></a>
                 </div>
             </div>
             <h1>Grattis du svarade på alla frågor!</h1>
             <h3><p>Din poäng är {{ score }}. Du har svarat rätt på {{ correct }}/{{ nr_quest }} frågor.
             </p></h3>
         </div>
     </div>


{% endblock %}
