{% extends "base.html" %}
{% block content %}
    <div class="game">
        <div class="questionbox">
            <div class="question">{{ question }}</div>

        </div>
        <div class="answers">
            <div class="r1">
                <div id="answer1" onclick="reply(this.id)">{{ a1['answer'] }}</div>
                <div id="answer2" onclick="reply(this.id)">{{ a2['answer'] }}</div>
            </div>
            <div class="r2">
                <div id="answer3" onclick="reply(this.id)">{{ a3['answer'] }}</div>
                <div id="answer4" onclick="reply(this.id)">{{ a4['answer'] }}</div>
            </div>
        </div>
    </div>
{% endblock %}
