{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highscore.css') }}">
</head>
<body>
    <div id="wrap">
        <div id="highscore">Highscore</div>
        <div id="rank">Rank</div>
        <div id="points">Poäng</div>
        <div id="username">Användarnamn</div>
    </div>
</body>
</html>




{% endblock %}



