{% extends "base.html" %}
{% block content %}
{#    <!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <title>Title</title>#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highscore.css') }}">
{#</head>#}

    <div id="wrap">
        <div id="highscore">Highscore</div>
        <div id="filler1"></div>
        <div id="rank">Rank</div>
        <div id="points">Poäng
            {% for user in users %}
                <li><a href="{{ user.href }}">{{ user.score }}</a></li>
            {% endfor %}
        </div>
        <div id="username">Användarnamn
            {% for user in users %}
                <li><a href="{{ user.href }}">{{ user.username }}</a></li>
            {% endfor %}
        </div>
        <div id="filler2"></div>
    </div>
{#</html>#}




{% endblock %}



