{% extends "base_user.html" %}
{% block content %}
    <div class="wrap-flex">
        <div class="column">
            <a href="{{ url_for('setup') }}"><div class="header-center">Singleplayer</div></a>
            <div class="text">Testa dina kunskaper i quizet</div>
        </div>
        <div class="column">
            <a href="{{ url_for('index') }}"><div class="header-center">Multiplayer</div></a>
            <div class="text">Möt andra spelare</div>
        </div>
    </div>
{% endblock %}