{% extends 'base.html' %}
{% block content %}
    <div class="center">
        <h1>Login</h1>
        <form action="/sign_in" method="POST">
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Användarnamn</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Lösenord</label>
            </div>
            <div class="pass">Glömt Lösenord?</div>
            <input type="submit" value="Logga In">
            <div class="signup-link">
               Inte Medlem? <a href="{{ url_for('signup') }}">Bli Medlem</a>
            </div>
            <p>Gå Tillbaka Till <a href="{{ url_for("index") }}"> Homepage </a> </p>
        </form>
    </div>

{% endblock %}
