{% extends 'base.html' %}
{% block content %}
    <div class="center">
        <h1>Login</h1>
        <form action="/sign_in" method="POST">
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>User Name</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
            <input type="submit" value="Logga In">
            <div class="signup-link">
                Not a member? <a href="{{ url_for('signup') }}">Sign Up</a>
            </div>
            <div class="home-link">
                <p>Go Back To <a href="{{ url_for("index") }}"> Homepage </a> </p>
            </div>
        </form>
    </div>

{% endblock %}
