{% extends 'base.html' %}
{% block content %}
    <div class="center">
        <div class="button-xx">
            <div class="close">
                <a href="{{ url_for("index") }}"><span>&times;</span></a>
            </div>
        </div>
        <h1>Logga in</h1>
        <form action="/sign_in" method="POST">
            <div class="txt_field">
                <input type="text" id="l_username" name="username" required>
                <span></span>
                <label>Användarnamn</label>
            </div>
            <div class="txt_field">
                <input type="password" id="l_password" name="password" required>
                <span></span>
                <label>Lösenord</label>
            </div>
            <div class="pass">Glömt ditt lösenord?</div>
            <input type="submit" id="l_submit" value="Logga In">
            <div class="error" id="login_error">{{ login_error }}</div>
            <div class="signup-link">
                Inte Medlem? <a href="{{ url_for('signup') }}">Bli Medlem</a>
            </div>
            <div class="home-link">
                <p>Gå tillbaka till <a href="{{ url_for("index") }}"> Startsidan </a> </p>
            </div>
        </form>
    </div>
{% endblock %}
