{% extends 'base_user.html' %}

{% block content %}
    <div class="wrap">
        <div class="header">Min profil</div>
        <div class="profile">
            <div class="profile_picture">
                <img src="{{ url_for('static', filename='images/profile.png') }}"
                     alt="Profile image" width="150" height="150">
            </div>
            <div class="user_info profile_text">
                Användarnamn: {{ user.username }} <br />
                Email: {{ user.email }} <br />
                Totalpoäng: {{ user.score }} <br />
            </div>
            <div class="friends profile_text">
                {% if friends %}
                    <div class="header">Vänner </div>
                    {% for friend in friends %}
                        <li>{{ friend }}</li>
                    {% endfor %}
                {% else %}
                    Du har ännu inte lagt till några vänner.
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}