.game {
    width: 70%;
    font-family: 'Staatliches', cursive;
    margin: auto;
}
.questionbox {
    width: 600px;
    height: 200px;
    background-color: #7eb3b5;
    margin: auto;

}
.question {
    height: 100%;
    width: 100%;
    border: 5px dotted black;
    background-color: lavender;
    font-size: 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}
.answers {
    margin-top: 100px;
}

.r1 {
    display: flex;
    margin: auto;
    padding: 15px;
}

.r2 {
    display: flex;
    margin: auto;
    padding: 15px;
}

.answer {
    height: 100px;
    width: 40%;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-color: #b3fcff;

}