.game {
    width: 70%;
    font-family: 'Staatliches', cursive;
    margin: auto;
}
.questionbox {
    width: 600px;
    height: 200px;
    background-color: #7eb3b5;
    margin: auto;

}
.question {
    height: 100%;
    width: 100%;
    border: 5px dotted black;
    background-color: lavender;
    font-size: 24px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



}
.answers {
    margin-top: 50px;
}

.r1 {
    display: flex;
    margin: auto;
    padding: 15px;
}

.r2 {
    display: flex;
    margin: auto;
    padding: 15px;
}

.answer {
    height: 100px;
    width: 40%;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: auto;
    background-color: #b3fcff;
    border: 3px dotted black;
}



#next-question {
    width: 300px;
    background: rgba(85, 60, 96, 0.8);
    border-left: 5px solid #890bc4;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
}