#wrap:after {
      display: block;
      clear: both;
      float: none;
    }

    #wrap div {
      float: left;
      word-break: break-all;
    }

    #filler1{
        width: 15%;
        height: 300px;
        float: left;
    }

    #filler2{
        width: 15%;
        height: 300px;
        float: left;
    }

    #rank {
        padding-top: 15px;
        width: 23.333%;
        text-align: center;
        height: 30vh;
        float: left;
        font-family: 'Staatliches', cursive;
    }

    #rank:after{
        content: "1 \A 2 \A 3 \A 4 \A 5 \A 6 \A 7 \A 8 \A 9 \A 10";
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 10px;
        border-top: 3px solid #890bc4;
        white-space: pre-line;
    }

    #points {
        padding-top: 15px;
        width: 23.333%;
        text-align: center;
        height: 30vh;
        float: left;
        font-family: 'Staatliches', cursive;
    }

    #points:after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 10px;
        border-top: 3px solid #890bc4;
    }

    #pointsheader{
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #hdata{
      width: 20%;
      height: 50%;
      top:5%;
        left: 40%;
      margin: 0 auto;
      position: relative;
        text-align: center;
    }

    #username {
        padding-top: 15px;
        width: 23.333%;
        text-align: center;
        height: 30vh;
        float: left;
        font-family: 'Staatliches', cursive;
    }

    #username:after{
        content: "";
        display: block;
        margin: 0 auto;
        width: 50%;
        padding-top: 10px;
        border-top: 3px solid #890bc4;
    }

    #usersheader{
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #udata{
      width: 20%;
      height: 50%;
      top:5%;
        left: 40%;
      margin: 0 auto;
      position: relative;
      /*background:orange;*/
        text-align: center;
    }

    #highscore{
        padding-top: 0;
      font-size: 40px;
        width: 100%;

        text-align: center;
        font-family: 'Staatliches', cursive;

    }

    ul.a{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    ul.b{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }