.wrap-flex{
    display: flex;
    flex: auto;
    width: 70%;
    margin: auto;
}

.wrap{
    width: 70%;
    margin: auto;
}

.header{
    font-family: 'Staatliches', cursive;
    font-size: 25px;
}

.header-center{
    font-family: 'Staatliches', cursive;
    margin: 10px;
    font-size: 25px;
    padding-left: 10px;
    text-align: center;
    text-decoration: underline;
}

.column {
    width: 50%;
    height: 110px;
    margin: 10px;
    padding: 10px;
    border: #890bc4 2px solid;
}

.text{
    font-family: 'Staatliches', cursive;
    text-align: center;
    padding: 7px;
}

form{
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.category-select{
    width: 81%;
    margin: auto;
    height: 22px;
    padding-bottom: 20px;
    text-align: left;
}

label{
    font-family: 'Staatliches', cursive;
    font-size: 18px;
}

select{
    width: 80%;
    text-align: center;
    margin-left: 10px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    background-color: white;
}

input{
    width: 80%;
    height: 22px;
}

#submit{
    background-color: black;
    color: white;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}


.info{
    width:50%;
    background: rgba(85, 60, 96, 0.8);
    border-left: 5px solid #890bc4;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Staatliches', cursive;
    font-size: 22px;
    text-align: center;
}

.signout{
    width: 75px;
    margin: 5px;
    float: right;
    text-align: center;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    padding: 5px;
    background: rgba(85, 60, 96, 0.8);
    border-left: 5px solid #890bc4;
    border-radius: 5px;
}

.error{
    padding: 5px;
    color: red;
    font-size: 15px;
    font-family: 'Staatliches', cursive;
}