
.wrap{
    width: 90%;
}
.header_box{
    width: 100%;
    display: flex;
}

.profile{
    display: flex;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

.user_info{
    width: 33%;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 25px;
    border-right: 5px dotted #890bc4;
}

.friends{
    padding-top: 10px;
    width: 66%;
    list-style: none;
    padding-left: 25px;


}

.friend_box{
    width: 100%;
    margin-bottom: 20px;
}

.profile_text{
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}
.add_box{
    width: 50%;
    margin-left: 50%;
}
.header{
    width: 50%;
}

.add_button{
    font-size: 24px;
    background: #2691d9;
    border-radius: 25px;
    color: #e9f4fb;
    font-weight: 700;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-family: 'Staatliches', cursive;

}
.rm_button{
    font-size: 24px;
    background: #2691d9;
    border-radius: 25px;
    color: #e9f4fb;
    font-weight: 700;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    font-family: 'Staatliches', cursive;

}

.add_friend_bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.add_friend_content{
    width: 500px;
    height: 300px;
    background-color: #e9f4fb;
    border-radius: 6px;
    border: dotted black;
    text-align: center;
    padding: 20px;
    position: relative;


}
.head{
    font-size: 32px;
    font-family:  'Staatliches', cursive;
}
.username{
    font-size: 18px;
    font-family:  'Staatliches', cursive;
    margin-top: 15px;
}
#input_add{
    width: 50%;
    display: block;
    margin: 15px auto;
    font-family:  'Staatliches', cursive;
}
#search_user{
    width: 100%;
    height: 50px;
    background: #2691d9;
    border-radius: 25px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family:  'Staatliches', cursive;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;

}
.close_add{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 38px;
    transform: rotate(45deg);
    cursor: pointer;

}
.remove_friend_bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
}
.remove_friend_content {
    width: 500px;
    height: 300px;
    background-color: #e9f4fb;
    border-radius: 6px;
    border: dotted black;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close_rm {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 38px;
    transform: rotate(45deg);
    cursor: pointer;
}
#input_rm {
    width: 50%;
    display: block;
    margin: 15px auto;
    font-family: 'Staatliches', cursive;
}
