
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.test{
    width: 100%;
    height: 40%;
    position: absolute;
    padding: 40px;
    transform: translate(-50%, -50%);
    border-radius: 50px;
  }


.signup-form{
    font-family: 'Staatliches', cursive;
    background: linear-gradient(120deg, #f6d365, #fda087);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 20px;
    margin-top: 100px;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
}


.signup-form h1{
    padding: 0 0 20px 0;
    text-align: center;
    border-bottom: 1px solid silver;

  }


.text_button{
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 0 5px;
    border-bottom: 2px solid #adadad;
    height: 40px;
    font-size: 16px;
}

.signup_button{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    font-family:  'Staatliches', cursive;
}

.signup_button:hover{
    background-image: linear-gradient(120deg, #f6d365, #fda087);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
}